[SRC]
DIR = "D:\\github\\pdf_filer\\test\\input"

[DST]
LeonardMcCoy = "D:\\github\\pdf_filer\\test\\output\\l.mccoy\\AA-patients"
DoogieHowser = "D:\\github\\pdf_filer\\test\\output\\d.howser\\A-Patient Files"

[TYPES]
fax = "Fax sent {date}"
letter = "letter sent {date}"
other = "{other} sent {date}"