[SRC]
DIR = "D:\\github\\pdf_filer\\test\\input"

[DST]
LeonardMcCoy = "D:\\github\\pdf_filer\\test\\output\\l.mccoy\\AA-patients"
DoogieHowser = "D:\\github\\pdf_filer\\test\\output\\d.howser\\A-Patient Files"

[TYPES]
consult = "Consult faxed {date}"
Rx = "Presc faxed {date}"
Appointment = "Appointment Letter faxed {date}"
letter = "Letter faxed {date}"
decline = "Referral decline - faxed {date}"
