pymupdf
# pytesseract
flet

# black  # instead Use https://marketplace.visualstudio.com/items?itemName=ms-python.black-formatter

# Also required: Tesseract.  This is the OCR engine, PyMuPDF will interface to it.
# See
#    https://github.com/UB-Mannheim/tesseract/wiki