pymupdf
flet

# pytesseract  Don't use; PyMuPDF has access to tesseract.  But it's weird.
# black  # instead Use https://marketplace.visualstudio.com/items?itemName=ms-python.black-formatter

# Also required: Tesseract.  This is the OCR engine, PyMuPDF will interface to it.
# See
#    https://github.com/UB-Mannheim/tesseract/wiki